<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.taskmanagment.app">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaskManagment"
        tools:targetApi="31">
        <activity

            android:name=".Auth.CreatePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Auth.OtpVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".Auth.ForgetPaswordActivity"
            android:exported="false" />
        <activity
            android:name=".Auth.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Auth.SplashActivity"
            android:exported="false"/>
        <activity
            android:name=".Activities.MyPlanActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activities.AddMilestoneActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activities.MilestonesActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activities.SetGoalActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activities.AddGoalActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activities.GoalCategoryActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartActivity"
            android:exported="false" />
        <activity
            android:name=".SubtaskActivity"
            android:exported="false" />
        <activity
            android:name=".EveningRoutineActivity"
            android:exported="false" />
        <activity
            android:name=".MorningRoutineActivity"
            android:exported="false" />
        <activity
            android:name=".AddActivity"
            android:exported="false" />

    </application>

</manifest>